<mat-card class="example-card">
  <mat-card-content> 

<button (click) = "toBooks()">
  Books
</button>

<button (click) = "toRegister()">
  Register
</button>

<button *ngIf="!(authService.user | async)" (click) = "toLogin()">
  login
</button>

<button *ngIf="authService.user | async" (click) = "logOut()">
  Logout
</button>

</mat-card-content> 
</mat-card>