<h2 *ngIf="!(authService.user | async)" >
  <a routerLink = "/register">register</a> or   <a routerLink = "/login">login</a> to manage your reading list

</h2>



<div *ngIf="authService.user | async">
  <h1>Welcome {{(authService.user | async)?.displayName }}!</h1>

  <h2>your books are:</h2>
   
  <ul>

    <book *ngFor = "let book of books" [data] = "book" ></book>
  </ul>

<br><br>
 <h2>add your list books</h2>
 <ul>
   <mat-form-field class="example-full-width">
 <input [(ngModel)]= "name"  matInput placeholder="book name">
 </mat-form-field>
 
 <mat-form-field class="example-full-width">
 <input [(ngModel)]= "author"  matInput placeholder="author">
 </mat-form-field>
 
 
 <button mat-raised-button 
           (click) = "addproduct(name,author)" color="accent">
           add books</button>
 </ul>
</div>


