


<div>
<div *ngIf= "!showEditField" (click) = "showEdit()">
    <h2>  <span (mouseenter) = "showButton()" 
 (mouseleave) = "hideButton()">  
    {{name}} , by: <span *ngIf = "showTheButton">{{author}}</span></span></h2>  
</div>


<mat-form-field *ngIf="showEditField" class="example-form ">
    <input [(ngModel)]="name" name="name" matInput >
  </mat-form-field>
  <mat-form-field *ngIf="showEditField" class="example-form ">
    <input [(ngModel)]="author" name="author" matInput >
  </mat-form-field>
  <button mat-raised-button *ngIf= "showEditField"  color="primary" (click) = "save()"> save</button>
  <button mat-raised-button *ngIf= "showEditField"  color="cancel" (click) = "cancel()"> Cancel</button> 

</div>


 <h3><mat-checkbox  [(ngModel)]="checkboxFlag" (change) = "checkChange()"> {{name}} , by: {{author}}</mat-checkbox></h3> 
                      



 
