<br><br>
<form class="example-form">
  <mat-form-field class="example-form ">
   <input name = "name2" matInput placeholder="first name" value="" required>
   <mat-error *ngIf="nameFormControl.hasError('required')">
    name is <strong>required</strong>
  </mat-error>
   <mat-hint>Your name</mat-hint>
 </mat-form-field>
<br><br>
 <mat-form-field class="example-form ">
     <input [(ngModel)]= "email" name = "email" matInput placeholder="email" value="" required>
     <mat-error *ngIf="emailFormControl.hasError('required')">
      email is <strong>required</strong>
    </mat-error>
     <mat-hint>Your email</mat-hint>
   </mat-form-field>
   <p class="error" *ngIf = "code == 'auth/invalid-email'">{{message}}</p>

<br><br>
    <mat-form-field class="example-form ">
     <input [(ngModel)]= "password" name = "password" matInput placeholder="password" value="" required>
     <mat-error *ngIf="passwordFormControl.hasError('required')">
      password is <strong>required</strong>
    </mat-error>
     <mat-hint>Your password</mat-hint>
   </mat-form-field>
   <p class="error" *ngIf = "code == 'auth/weak-password'">{{message}}</p>
   <br><br>
   <mat-form-field class="example-form ">
    <input [(ngModel)] = "name" name = "name" matInput placeholder="user name" value="" required>
    <mat-error *ngIf="nameFormControl.hasError('required')">
     user is <strong>required</strong>
   </mat-error>
    <mat-hint>Your user name</mat-hint>
  </mat-form-field>

  <br><br>
<br>
 <button mat-raised-button color="primary" (click) = "signup()">
   Sign Up
 </button>
</form>



